/* Headings */

h2 {
    color: #1C3879;
}


/* Buttons */

#btn {
    background-color: #1C3879;
    color: white;
}

#btn:hover {
    background-color: #607EAA;
}



hr {
    width: 80%;
}


/* Margin and Padding */

.margin-top-none {
    margin-top: 0;
}

.padding-top-none {
    padding-top: 0;
}