/* Navbar */

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        margin: 0 auto;
    }

    .navbar-nav > li {
        display: inline-block;
        float:none;
    }

    .nav-link {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    #navbar-brand {
        height: auto;
        width: 30px
    }
}

@media (min-width: 768px) {
    #navbar-brand {
        display: none;
    }
}

@media (max-width: 768px) {
    #navbar-brand-2 {
        display: none;
    }
}

@media (min-width: 769px) {
    #navbar-brand-2 {
        height: auto;
        width: 30px
    }
}

a {
    color: #27363b;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75;
    min-width: 16px;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: #637b81;
}

body {
    background: #f5f5f5;
    background: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    font-size: 1em;
    text-align: center;
}

.btn {
    background: #27363b;
    background-image: -webkit-linear-gradient(top, #27363b, #27363b);
    background-image: -moz-linear-gradient(top, #27363b, #27363b);
    background-image: -ms-linear-gradient(top, #27363b, #27363b);
    background-image: -o-linear-gradient(top, #27363b, #27363b);
    background-image: linear-gradient(to bottom, #27363b, #27363b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #f5f5f5;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

@media (max-width: 768px) {
    .btn-sm {
        margin-top: 5%;
    }
}
  
  .btn:hover {
    background: #637b81;
    background-image: -webkit-linear-gradient(top, #637b81, #637b81);
    background-image: -moz-linear-gradient(top, #637b81, #637b81);
    background-image: -ms-linear-gradient(top, #637b81, #637b81);
    background-image: -o-linear-gradient(top, #637b81, #637b81);
    background-image: linear-gradient(to bottom, #637b81, #637b81);
    color: #27363b;
    text-decoration: none;
  }

.top-container {
    margin: 10em auto 0em auto;
    width: 60%;
    height: auto;
    display: inline-block;
    text-align: center;
}

@media (max-width: 768px) {
    .top-container {
        margin: 10em auto 0em auto;
        width: 80%;
        display: inline-block;
    }
}

.middle-container {

}

.footer {
    font-size: 75%;
    margin-bottom: 1%;
}

h1 {
    color: #27363b;
    font-family: 'Pacifico', sans-serif;
    font-size: 6em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4.5em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 80%;
    }
}

h2 {
    color: #637b81;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    margin-bottom: 1.5;
}

h2.hello {
    margin-top: 1.5%;
}

h3 {
    color: #27363b;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
}

h3.contact {
    color: #27363b;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

h3.project-title {
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 1%;
}

@media (max-width: 768px) {
    h3.project-title {
        font-weight: 600;
        margin-top: 8%;
        margin-bottom: 8%;
    }
}

h4 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    margin-bottom: 0;
}

h4.title {
    color: #27363b;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    margin: 0 0 0 0;
}

h5 {
    color: #c2cde7;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-bottom: 0;
}

hr {
    border-color: #637b81;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    margin: 4em auto 4em auto;
    width: 75px;
}

img {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
}

img.profile-pic {
    height: auto;
    width: 20em;
}

img.mountain {
    display: inline-block;
    margin: 0 auto 0 auto;
    height: auto;
    width: 35%;
    min-width: 300px;
}

p {
    color: #27363b;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin: 0;
}

.page-header {
    background-color: #e0ebe8;
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    margin: 0 0 0 35%;
  }

.project-links {
    margin: 3%;
}

.skill-icon {
    margin-top: 3em;
}

.skills {
    margin: auto auto;
    max-width: 60%;
}

.preview {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }


/* Cards */

  .card-body {
    height: 44em;
    width: 100%;
  }

  @media (max-width: 768px) {
    .card-body {
        height: 54em;
      }
  }

  @media (max-width: 768px) {
    .card {
        height: 54em;
        width: auto;
      }
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    color: #27363b;
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }