/* Typography */

.text-alt {
    color:#607EAA;
}


/* Headings */

h2 {
    color: #1C3879;
}


/* Margin and Padding */

.margin-top-none {
    margin-top: 0;
}

.padding-top-none {
    padding-top: 0;
}