/* FONTS */

@font-face {
    font-family: PTSans-Regular;
    src: url(Fonts/PTSans-Regular.ttf);
  }


/* TEXT */

header {
    text-align: center;
    font-size: 135%;
    font-family: PTSans-Regular;
    padding-top: 1%;
}
h2 {
    font-size: 150%;
    font-family: PTSans-Regular;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
    max-width: 65%;
    overflow-wrap: break-word;
}
p {
    font-size: 150%;
    font-family: PTSans-Regular;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1%;
    max-width: 65%;
    overflow-wrap: break-word;
}
p.experience {
font-size: 100%;
font-family: PTSans-Regular;
}
p.opener {
    font-size: 250%;
    font-family: PTSans-Regular;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1%;
    max-width: 65%;
    overflow-wrap: break-word;
}


/* IMAGES */

img.experience {
    width: 25%;
    padding: 0px 0px 0px 0px;
}


/* DIV */

.imgContainer{
    float: left;
    padding-left: 10%;
}