body {
    background-color: #063d2f;
    font-family: san-francisco-thin;
    font-size: 0.7vw;
}

/* Fonts */
@font-face { font-family: Juliette; src: url('Fonts/Juliette-Regular.otf'); }
@font-face { font-family: san-francisico-regular; src: url('Fonts/San Francisco/SFNSDisplay-Regular.otf'); }
@font-face { font-family: san-francisico-bold; src: url('Fonts/San Francisco/SFNSDisplay-Bold.otf'); }
@font-face { font-family: san-francisco-thin; src: url('Fonts/San Francisco/SFNSDisplay-Thin.otf'); }

h1 {
    color: white;
    font-family: Juliette;
    font-size: 1.75vw;
}
h2 {
    color: white;
    font-family: san-francisico-bold;
    font-size: 1vw;
}
h3 {
    color: white;
    font-family: san-francisico-regular;
    font-size: 1vw;
}
p {
    color: white;
}
img {
    border-radius: 50%;
    filter: drop-shadow(10px 10px 4px #000000);
    size: 0.5vw;
}
a {
    color: white;
}
a:hover {
    color: #063d2f;
}
.button {
    background-color: #005e48;
    border: none;
    color: #005e48;
    filter: drop-shadow(1vw 1vw 1vw #000000);
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vh 1vw;
}